@import "variables";

/** Main **/

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
  font-family: $opensans;
}

/** Logo **/
.logo {
  width: 125px;
  margin-top: 0;
}

/** Alerts **/
.alert-success {
  margin-top: 15px;
}
